/* Var declaration */
:root {
  --clr-surface: #fdfbfb;
  --clr-primary: #121212;
  --clr-secondary: #cce5fc;
  --clr-nav-bg: #c0def1;
  --clr-button-pop: #90cff7;
}
.darktheme {
  --clr-surface: #121212;
  --clr-primary: #f9f9f9;
  --clr-secondary: #3f3f3f;
  --clr-nav-bg: #575757;
  --clr-button-pop: #2e2e2e;
}
/* CSS reset section */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-surface);
  color: var(--clr-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
input::placeholder,
button,
textarea,
select {
  font: inherit;
  color: var(--clr-primary);
  outline: none;
}

p,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Default template */
.hidden {
  display: none;
}
button {
  cursor: pointer;
}
@media (min-width: 376px) {
  .desktop-hidden {
    display: none;
  }
}
@media (max-width: 375px) {
  .mobile-hidden {
    display: none;
  }
}
/* Styling navbar */
#navbar {
  background-color: var(--clr-nav-bg);
  padding: 0.5rem;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#home-link {
  font-size: 0.8rem;
  background-color: var(--clr-button-pop);
  box-shadow: 2px 2px 10px 1px var(--clr-primary);
  border-radius: 0.6rem;
  padding: 2px;
  font-weight: 600;
}
.nav-search {
  background-color: var(--clr-surface);
  display: flex;
  height: 2rem;
  border: 1px solid black;
  border-radius: 500px;
  padding: 0.15rem 2px 0.15rem 0.5rem;
}
.search-field {
  background: transparent;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.login-link {
  background-color: var(--clr-button-pop);
  border-radius: 20px;
  padding: none;
  width: 2rem;
  & > svg {
    fill: var(--clr-primary);
    border-radius: 200px;
    box-shadow: 2px 2px 10px 1px var(--clr-primary);
  }
}
#theme-toggle {
  border: none;
  background-color: var(--clr-button-pop);
  border-radius: 20px;
  padding: none;

  & > svg {
    fill: var(--clr-primary);
    border-radius: 200px;
    box-shadow: 2px 2px 10px 1px var(--clr-primary);
  }
}
/* Navbar styling ends */
/* Styling Signup/Login page */
.wrapper{
  background-color: var(--clr-secondary);
  width: min(600px, 90%);
  margin: 200px auto;

  padding: 1rem;
  border-radius: 1rem;
  box-shadow: -2px 2px 10px 3px var(--clr-primary);
  & > h1 {
    display: block;
    text-align: center;
    padding: 1rem auto;
  }
}
/* styling signup/login form */
form {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & > div {
    display: flex;
    gap: 5px;
  }
  & > div > input {
    font-size: 0.9rem;
    color: inherit;
    background-color: var(--clr-surface);
    border: 1px solid var(--clr-primary);
    padding: 2px 5px;
    width: 100%;
    border-radius: 1rem;
  }
}
label > svg {
  display: inline;
  fill: var(--clr-primary);
}
.signup-submit{
  margin: 10px auto 5px;
  width: 50%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  
&:hover{
  box-shadow: -2px 2px 10px 3px var(--clr-primary);
}
.login-submit{
  margin: 10px auto 5px;
  width: 50%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: none;
  
&:hover{
  box-shadow: -2px 2px 10px 3px var(--clr-primary);
}
}
.suggestion{
  font-size: 0.9rem;
  font-weight: 600;
}
